@model Inventory_Tracker.Models.ItemList 

<h1>Create New List</h1>

<form method="post">
	<label>List Name</label>
	<input asp-for="Name" class="form-control" required />
	<button type="submit" class="btn-outline-primary mt-3">Create List</button>
</form>