@model Inventory_Tracker.Models.Item
@{
	var listName = Context.Request.Query["listName"].ToString();
}
<h1 class="text-center"> <strong>@listName</strong></h1>


<form method="post" action="/Inventory/Add">
	
	<div class="form-group">
		<label>Item Name</label>
		<input type="text" name="Name" class="form-control" />
	</div>

	<div class="form-group">
		<label>Quantity</label>
		<input type="number" name="Quantity" class="form-control" />
	</div>

	<div class="form-group">
		<label>Price</label>
		<input type="number" step="0.01" name="Price" class="form-control" />
	</div>

	@if (!string.IsNullOrEmpty(listName))
	{
		<input type="hidden" name="ItemListId" value="@ViewBag.ListId" />

		<div class="alert alert-info">
			Adding item to list: <strong>@listName</strong>
			</div>
	}
	else{
		<div class="form-group">
			<label> Select List</label>
			@Html.DropDownListFor(
				m => m.ItemListId,
				new SelectList(ViewBag.Lists, "Id", "Name"),
				"Select a List",
				new { @classs = "form-control"}
			)
			</div>
	}

	<button type="submit" class="btn btn-primary">Save</button>
</form>

<a class="fab" href="/Lists/Create">+</a>
